<%- layout("/layouts/boilerplate") %>

    <div class="row mt-3">
        <div class="col-8 offset-3">
            <h3>Listing detels </h3>
        </div>

        <div class="card col-6 offset-3  show-card">
            <img src="<%= Listing.image %>" class="card-img-top show-imag" alt="listing_image" />
            <div class="card-body">
                <p class="card-text">
                    <b><%= Listing.title %></b><br>
                    <%= Listing.description %><br>
                    &#8377;<%=Listing.price%><br>
                    <%= Listing.location %><br>
                    <%= Listing.country %><br>
                    <%= Listing.country %><br>

                </p>
            </div>
        </div>
    <br>
        <!-- <ul>
            <li>
                <%= Listing.title %>
            </li>
            <li>
                <%= Listing.description %>
            </li> -->
            <!-- <li><%= Listing.image %> </li>
            <li> &#8377;<%=Listing.price%>
            </li>
            <li>
                <%= Listing.location %>
            </li>
            <li>
                <%= Listing.country %>
            </li>
        </ul>
        <br> -->
       
        
    </div>
    <div class="btns">
        <a href="/listing/<%= Listing._id %>/edit" class="btn btn-dark  col-1 offset-3  edit-btn">Edit</a>
    

    
    
    
        <form method="post" action="/listing/<%= Listing._id%>?_method=DELETE">
            <button class="btn btn-dark  offset-5">Delete</button>
        </form>
    </div>
</div>

    